<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj użytkownika</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Dodawanie użytkownika</h1>

<form th:action="@{/customer/addcustomertobase}" method="post" th:object="${customer}">
    <p>Imię:</p>
    <input type="text" th:field="*{name}"/>
    <p>Nazwisko:</p>
    <input type="text" th:field="*{lastName}"/>
    <p>Email:</p>
    <input type="email" th:field="*{email}"/>
    <p>Hasło:</p>
    <input type="password" th:field="*{password}"/>
    <p>Data urodzin:</p>
    <input type="date" th:field="*{birthDay}"/>
    <p>Numer telefonu:</p>
    <input type="number" pattern="[0-9]{9}" th:field="*{phoneNumber}"/>
    <input type="submit" value="dodaj"/>
    <a th:href="@{/}">Powrót do strony głównej</a>
</form>
</body>
</html>