<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Logowanie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="${message}"></p>
<form th:action="@{/termin/setTreatmentToTermin}" method="post">
    <input type="hidden" th:name="terminId" th:value="${terminId}"/>
    <button th:each="customerList:${customerList}" th:text="${customerList.name}+''+${customerList.lastName}"
            name="customerId"
            th:value="${customerList.id}">
    </button>
</form>
<a th:href="@{/}">Powrót do strony głównej</a>

</body>
</html>