<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<h1>Dodaj zabiegi do wykonania:</h1>
<body>
<form th:action="@{/termin/settratment/}" method="post">
    <table>
        <tr th:each="treatmentList:${treatmentList}">
            <td th:text="${treatmentList.name}"></td>
            <td><input th:type="checkbox" th:value="${treatmentList.id}"/></td>
        </tr>
    </table>
    <input type="submit" value="Dodaj zabiegi"/>
</form>
<a th:href="@{/}">Powrót do strony głównej</a>

</body>
</html>