<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Logowanie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table>
    <tr th:each="customerList:${customerList}">
        <td th:text="${customerList.name}"></td>
        <td th:text="${customerList.lastName}"></td>
        <td th:text="${customerList.email}"></td>
        <td th:text="${customerList.registrationTime}"></td>
    </tr>

</table>
<a th:href="@{/}">Powrót do strony głównej</a>
</body>
</html>